img#loading(src='img/spinner.gif', class='loading')

.comment-list-wrapper
  #sub-nav(class='navigation')
    ul.tabbed
      li(style='float:right;')
        a(href='/oauth/logout') logout
      li(style='float:right;')
        a#clear(href='#') clear
      li(style='float:right')
        a#pause(href='#') pause
      li(style='float:right')
        span#paused-count(style='display:none;') (0)
      li
        a#home-timeline-click(href='#', onclick='return false;') home
      li
        a#mentions-timeline-click(href='#', onclick='return false;') mentions
      li
        a#dms-timeline-click(href='#', onclick='return false;') messages
      li
        a#dms-inbox-timeline-click(href='#', onclick='return false;', style='display:none;') inbox
      li
        a#dms-outbox-timeline-click(href='#', onclick='return false;', style='display:none;') outbox
    .clearer &nbsp;

  form#new-tweet-form(autocomplete='off')
    ul.tabbed
      li(style='float:right;')
        input#new-tweet-submit(type='submit', disabled='disabled', value='send')
      li#new-tweet-input-li(style='float:left;')
        input#new-tweet(type='text', disabled='disabled', placeholder='write your tweet here!', style='width:100%;', value='loading...')

  .hr

  ul#home-timeline

  ul#mentions-timeline(style='display:none;')

  ul#dms-timeline(style='display:none;')
    ul#dms-inbox-timeline
    ul#dms-outbox-timeline(style='display:none;')

script var growler = new Growler(); //we need this here for the growler to work properly
