.comment-list-wrapper
  #sub-nav(class='navigation')
    ul.tabbed
      li(style='float:right;')
        a#logout(href='#') logout
      li(style='float:right;')
        a#clear(href='#') clear
      li#image(title='drop images here', style='display: none; float: right;') image
      li(style='float:right')
        a#pause(href='#') pause
      li(style='float:right')
        span#paused-count(style='display:none;') (0)
      li
        a#home-timeline-click(href='#', onclick='return false;') home
      li
        a#mentions-timeline-click(href='#', onclick='return false;') mentions
      li
        a#dms-timeline-click(href='#', onclick='return false;') messages
      li
        a#dms-inbox-timeline-click(href='#', onclick='return false;', style='display:none;') inbox
      li
        a#dms-outbox-timeline-click(href='#', onclick='return false;', style='display:none;') outbox
    .clearer &nbsp;

  form#new-tweet-form(autocomplete='off')
    ul.tabbed
      li#new-tweet-input-li
        input#new-tweet(type='text', disabled='disabled', placeholder='write your tweet here and submit!', style='width:98%;', value='loading...')

  .hr

  ul#home-timeline
    li
      img#loading-home(src='img/spinner.gif', class='loading')

  ul#mentions-timeline(style='display:none;')
    li
      img#loading-mentions(src='img/spinner.gif', class='loading', style='display:none;')

  ul#dms-timeline(style='display:none;')
    ul#dms-inbox-timeline
      li
        img#loading-inbox(src='img/spinner.gif', class='loading', style='display:none;')
    ul#dms-outbox-timeline(style='display:none;')
      li
        img#loading-outbox(src='img/spinner.gif', class='loading', style='display:none;')

script(type='text/javascript', src='/socket.io/socket.io-sessions.js?'+(new Date()).getTime())
script(type='text/javascript', src='/js/z.min.js')
script var growler = new Growler(); //we need this here for the growler to work properly
script= imgur_script
