header(class='comment-list-wrapper')
  #sub-nav
    ul(class='tabbed')
      li(style='float: right;', class='navigation')
        a#logout(href='#', onclick='return false;')
      li(style='float: right;', class='navigation')
        a#settings(href='#settings-div')
      li#image(style='display: none; float: right;', title='drop images here!', class='navigation')
      li(style='float: right;', class='navigation')
        a#pause(href='#')
      li(style='float: right;', class='navigation')
        span#paused-count(style='display: none;') (0)
      li(style='float: right;', class='navigation')
        div#progress-bar(style='display: none;')
      li(style='float: right;', class='navigation')
        img#loading(src='/img/spinner.gif')
    ul#tabbed(class='tabbed')
      li(class='navigation')
        a#home-timeline-click(href='#home-timeline-container')
      li(class='navigation')
        a#mentions-timeline-click(href='#mentions-timeline-container')
      li(class='navigation')
        a#dms-inbox-timeline-click(href='#dms-inbox-timeline-container')
      li(class='navigation')
        a#dms-outbox-timeline-click(href='#dms-outbox-timeline-container')
      li(class='navigation')
        a#threaded-timeline-click(href='#threaded-timeline-container')
      li
        input#new-dm-user(type='text', maxlength='15', class='dm-user dm', style='display: none;')
    .clearer &nbsp;
  form#new-tweet-form(autocomplete='off')
    input#new-tweet(type='text', disabled='disabled', style='width: 98.5%;', value='...')

#container(class='comment-list-wrapper')
  #home-timeline-container
    #home-timeline-scroll(class='scrollbar-track')
      .scrollbar-handle
    #home-timeline(class='scrollbar-content')
  #mentions-timeline-container
    #mentions-timeline-scroll(class='scrollbar-track')
      .scrollbar-handle
    #mentions-timeline(class='scrollbar-content')
  #dms-inbox-timeline-container
    #dms-inbox-timeline-scroll(class='scrollbar-track')
      .scrollbar-handle
    #dms-inbox-timeline(class='scrollbar-content')
  #dms-outbox-timeline-container
    #dms-outbox-timeline-scroll(class='scrollbar-track')
      .scrollbar-handle
    #dms-outbox-timeline(class='scrollbar-content')
  #threaded-timeline-container
    #threaded-timeline-scroll(class='scrollbar-track')
      .scrollbar-handle
    #threaded-timeline(class='scrollbar-content')

#settings-div(style='display: none;')
  fieldset
    legend#language-settings
    select#language
      option(value='english', id='english') english
      option(value='russian', id='russian') русский
  fieldset
    legend#retweet-settings
    select#retweet
      option(value='comment', id='comment')
      option(value='quote', id='quote')
  fieldset
    legend#notify-settings
    input#use-notify(type='checkbox')
    span#notify-enable-settings
    br
    input#use-audio(type='checkbox')
    span#notify-audio-settings
  fieldset
    legend#notify-length-settings
    input#notify-length(type='range', min='1', max='10', step='0.5')
  fieldset
    legend#wait-length-settings
    input#stream-interval(type='range', min='0.25', max='5', step='0.25')
  fieldset
    legend#other-settings
    input#use-geo(type='checkbox')
    span#geo-settings

script(src='http://www.google.com/jsapi')
script google.load("prototype", "1.7.0.0"); google.load("scriptaculous", "1.9.0");
script(src='/socket.io/socket.io.js')
script(src='/socket.io/socket.io-sessions.js?'+(new Date()).getTime())
script(src='/js/libs.min.js?'+(new Date()).getTime())
script(src='/js/z.min.js?'+(new Date()).getTime())
script var growler = new Growler(); z_engine_attrition();
script= imgur_script
