#float(class='comment-list-wrapper')
  #sub-nav
    ul(class='tabbed')
      li(style='float: right;', class='navigation')
        a#logout(href='#', onclick='return false;')
      li(style='float: right;', class='navigation')
        a#settings(href='/account/settings')
      li#image(style='display: none; float: right;', title='drop images here!', class='navigation')
      li(style='float: right;', class='navigation')
        a#pause(href='#')
      li(style='float: right;', class='navigation')
        span#paused-count(style='display: none;') (0)
    ul#tabbed(class='tabbed')
      li(class='navigation')
        a#home-timeline-click(href='#home-timeline')
      li(class='navigation')
        a#mentions-timeline-click(href='#mentions-timeline')
      li(class='navigation')
        a#dms-inbox-timeline-click(href='#dms-inbox-timeline')
      li(class='navigation')
        a#dms-outbox-timeline-click(href='#dms-outbox-timeline')
      li(class='navigation')
        a#threaded-timeline-click(href='#threaded-timeline')
      li
        input#new-dm-user(type='text', maxlength='16', style='display: none; font-size: 0.65em; max-height: 5px; max-width: 85px;')
        #autocompleter-dm(class='autocomplete', style='font-size: 0.8em; width: 100%; display: none;')
    .clearer &nbsp;
  form#new-tweet-form(autocomplete='off')
    input#new-tweet(type='text', disabled='disabled', style='width: 98.5%;', value='loading...')
    #autocompleter(class='autocomplete', style='width: 98%; display: none;')

#container(class='comment-list-wrapper')
  #home-timeline
    img#loading-home(src='/img/spinner.gif', class='loading')
  #mentions-timeline(style='display: none;')
    img#loading-mentions(src='/img/spinner.gif', class='loading', style='display: none;')
  #dms-inbox-timeline(style='display: none;')
    img#loading-inbox(src='/img/spinner.gif', class='loading', style='display: none;')
  #dms-outbox-timeline(style='display: none;')
    img#loading-outbox(src='/img/spinner.gif', class='loading', style='display: none;')
  #threaded-timeline(style='display: none;')

script(type='text/javascript', src='/socket.io/socket.io-sessions.js?'+(new Date()).getTime())
script var growler = new Growler(); z_engine_attrition();
script= imgur_script
