header(class='comment-list-wrapper')
  #sub-nav
    ul(class='tabbed')
      li(style='float: right;', class='navigation')
        a#logout(href='#', onclick='return false;')
      li(style='float: right;', class='navigation')
        a#settings(href='#settings-div')
      li#image(style='display: none; float: right;', title='drop images here!', class='navigation')
      li(style='float: right;', class='navigation')
        a#pause(href='#')
      li(style='float: right;', class='navigation')
        span#paused-count(style='display: none;') (0)
      li(style='float: right;', class='navigation')
        div#progress-bar(style='display: none;')
    ul#tabbed(class='tabbed')
      li(class='navigation')
        a#home-timeline-click(href='#home-timeline')
      li(class='navigation')
        a#mentions-timeline-click(href='#mentions-timeline')
      li(class='navigation')
        a#dms-inbox-timeline-click(href='#dms-inbox-timeline')
      li(class='navigation')
        a#dms-outbox-timeline-click(href='#dms-outbox-timeline')
      li(class='navigation')
        a#threaded-timeline-click(href='#threaded-timeline')
      li
        input#new-dm-user(type='text', maxlength='15', class='dm-user', style='display: none;')
        #autocompleter-dm(class='autocomplete', style='font-size: 0.8em; width: 100%; display: none;')
    .clearer &nbsp;
  form#new-tweet-form(autocomplete='off')
    input#new-tweet(type='text', disabled='disabled', style='width: 98.5%;', value='loading...')
    #autocompleter(class='autocomplete', style='width: 98%; display: none;')

#container(class='comment-list-wrapper')
  #home-timeline
    img#loading-home(src='/img/spinner.gif', class='loading')
  #mentions-timeline(style='display: none;')
    img#loading-mentions(src='/img/spinner.gif', class='loading', style='display: none;')
  #dms-inbox-timeline(style='display: none;')
    img#loading-inbox(src='/img/spinner.gif', class='loading', style='display: none;')
  #dms-outbox-timeline(style='display: none;')
    img#loading-outbox(src='/img/spinner.gif', class='loading', style='display: none;')
  #threaded-timeline(style='display: none;')

#settings-div(style='display: none;')
  fieldset
    legend#language-settings
    select#language
      option(value='english', id='english') english
      option(value='russian', id='russian') русский
  fieldset
    legend#notify-settings
    input#use-notify(type='checkbox')
    span#notify-enable-settings
    br
    input#use-audio(type='checkbox')
    span#notify-audio-settings
  fieldset
    legend#notify-length-settings
    input#notify-length(type='range', min='1', max='10', step='0.5')
  fieldset
    legend#wait-length-settings
    input#stream-interval(type='range', min='0.25', max='5', step='0.25')
  fieldset
    legend#other-settings
    input#use-geo(type='checkbox')
    span#geo-settings
    br
    input#use-klout(type='checkbox')
    span#klout-settings

script(src='/socket.io/socket.io-sessions.js?'+(new Date()).getTime())
script var growler = new Growler(); z_engine_attrition();
script= imgur_script
