.center-outer
  .center-inner
    h1 z
    br
    br
    a(href='/oauth/login')
      img(src='/img/login.png', alt='')
    br
    br
    a(href='http://github.com/disassemblyline/z', target='_blank')
      the code is available on github
