!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/z.min.css')
    meta(http-equiv='X-UA-Compatible', content='IE=9')
    script(type='text/javascript', src='/js/libs.js')
    script(type='text/javascript', src='/socket.io/socket.io-sessions.js?'+(new Date()).getTime())
    script(type='text/javascript', src='/js/z.min.js')
  body!= body
