br

fieldset
  legend notifications
  input#use-audio(type='checkbox', title='audio notifications')
  span - audio notifications
  br
  input#use-notify(type='checkbox', title='notifications')
  span - notifications

fieldset
  legend language
  select#language
    option(value='english', id='english') english
    option(value='russian', id='russian') русский

fieldset
  legend tweet output interval
  span 0.25
  input#stream-interval(type='range', min='0.25', max='5', step='0.25')
  span 5.0

fieldset
  legend other
  input#use-geo(type='checkbox', title='geolocation')
  span - geolocation
  br
  input#use-klout(type='checkbox', title='klout')
  span - klout

script z_engine_settings_setup();
