fieldset
  legend#language-settings
  select#language
    option(value='english', id='english') english
    option(value='russian', id='russian') русский

fieldset
  legend#notify-settings
  input#use-notify(type='checkbox')
  span#notify-enable-settings
  br
  input#use-audio(type='checkbox')
  span#notify-audio-settings

fieldset
  legend#notify-length-settings
  input#notify-length(type='range', min='1', max='10', step='0.5')

fieldset
  legend#wait-length-settings
  input#stream-interval(type='range', min='0.25', max='5', step='0.25')

fieldset
  legend#other-settings
  input#use-geo(type='checkbox')
  span#geo-settings
  br
  input#use-klout(type='checkbox')
  span#klout-settings

script z_engine_settings_setup();
