/*
 * quick globals
 */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del,
dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object
{
	display: block;
}
a
{
	color: #456;
	text-decoration: none;
	transition: all .20s ease-in-out;
	-khtml-transition: all .20s ease-in-out;
	-moz-transition: all .20s ease-in-out;
	-ms-transition: all .20s ease-in-out;
	/*-o-transition: all .20s ease-in-out;*/
	-webkit-transition: all .20s ease-in-out;
}
a:focus, a:hover
{
	color: #039;
	text-decoration: none;
}
a img
{
	border: 0;
}
li
{
	list-style: none;
}
fieldset
{
	border-radius: 4px;
	box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	-khtml-border-radius: 4px;
	-khtml-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	-moz-border-radius: 4px;
	-moz-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	-o-border-radius: 4px;
	-o-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	background: #f6f6f6;
	border: 1px solid #c4c4c4;
	margin: 0;
	padding: 10px;
	behavior: url(border-radius.htc);
}
footer
{
	/* do something at the bottom of the page eventually, probably a "load more" button */
}
header
{
	background-color: #f6f6f6;
	display: block;
	width: 98.5%;
	left: 0px;
	position: fixed;
	top: 0px;
	z-index: 500;
}
legend
{
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #f6f6f6;
	border: 1px dashed #c4c4c4;
	padding: 5px;
	font-weight: bold;
	behavior: url(border-radius.htc);
}
.huge, h1
{
	text-shadow: rgba(215,215,215,0.3) 5px 5px 8px;
	cursor: default;
	font-size: 68px;
	color: #555;
	letter-spacing: -1px;
	padding: 0 20px;
	text-align: center;
}
.large, h2
{
	font-size: 42px;
	color: #555;
	letter-spacing: -1px;
	text-align: center;
}
.big, h3
{
	font-size: 26px;
}
.small, small
{
	font-size: 13px;
}
.left,.alignleft
{
	float: left;
}
.right,.alignright
{
	float: right;
}
.clear,.clearer
{
	clear: both;
}
.clearer
{
	display: block;
	font-size: 0;
	height: 0;
}

/*
 * tweet related css
 */
.comment-parent
{
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	z-index: 50;
}
.comment-parent-drop
{
	display: none;
	margin-top: 15px;
	margin-bottom: 15px;
	z-index: 50;
}
.comment-list ul.children, #comments #respond ul
{
	margin: 0 0 0 130px;
}
.comment-list ul.children ul.children
{
	margin-left: 15px;
}
.comment-list ul.children li
{
	background: url('/img/comment-reply.png') no-repeat left top;
	margin: 0;
	padding: 10px 0 0 15px;
}
.comment-author
{
	padding-top: 2px;
}
.comment-text p
{
	margin-bottom: 0.5em;
}
.comment-text-select
{
	user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	-webkit-user-select: text;
}
.comment-text img
{
	cursor: pointer;
	margin-left: 10px;
}
.post-date, .comment-author
{
	font-size: 0.87em;
	padding-top: 4px;
	padding-top: 4px;
}
.comment-body, .comment-body-mentioned, .comment-body-me
{
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: white;
	border: 1px solid #DDD;
	padding: 1px 12px 0 9px;

	behavior: url(border-radius.htc);
}
.comment-body
{
	box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	-khtml-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	-moz-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	-o-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	-webkit-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
}
.comment-body-mentioned
{
	box-shadow: 2px 2px 5px #FFB4B8;
	-khtml-box-shadow: 2px 2px 5px #FFB4B8;
	-moz-box-shadow: 2px 2px 5px #FFB4B8;
	-o-box-shadow: 2px 2px 5px #FFB4B8;
	-webkit-box-shadow: 3px 3px 2px 2px #FFB4B8;
}
.comment-body-me
{
	box-shadow: 2px 2px 5px #BDC3FF;
	-khtml-box-shadow: 2px 2px 5px #BDC3FF;
	-moz-box-shadow: 2px 2px 5px #BDC3FF;
	-o-box-shadow: 2px 2px 5px #BDC3FF;
	-webkit-box-shadow: 3px 3px 2px 2px #BDC3FF;
}
.comment-arrow
{
	background: url('/img/comment-arrow.png') no-repeat left top;
	display: block;
	float: left;
	height: 35px;
	margin: 14px 0 -46px -29px;
	position: absolute;
	width: 20px;
}
.comment-list-wrapper
{
	padding: 5px 12px 10px 7px;
}
.comment-input-text textarea
{
	width: 80%;
}
.comment-list
{
	margin: 0;
	padding: 0;
}
.comment-gravatar
{
	margin-bottom: 3px;
}
.comment-gravatar img
{
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(border-radius.htc);
}
.comment-content-wrapper
{
	clear: right;
	display: inline-block;
	float: right;
}
.comment-profile-wrapper
{
	clear: left;
	display: inline-block;
	float: left;
}

/*
 * form related stuff
 */
#loading-img
{
	margin-top: 5px;
}
#new-dm-user
{
	font-size: 0.65em;
	max-height: 5px;
	max-width: 80px;
	padding: 7px;
	margin-left: 15px;
	margin-top: -3px;
}
#new-tweet-input-li
{
	padding-left: 3px;
	width: 100%;
}
form
{
	padding: 1px;
	margin: 0 10px 0 10px;
}
input[type="text"], textarea
{
	background-color: #fafafa;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	box-shadow: 0 0 4px #e2e2e2, inset 0 0 4px #e2e2e2;
	color: #4d4d4d;
	font-family: "Helvetica Neue", "Open Sans", sans-serif;
	padding: 8px 12px;
	resize: none;
	transition: all .20s ease-in-out;
	-khtml-border-radius: 4px;
	-khtml-box-shadow: 0 0 4px #e2e2e2, inset 0 0 4px #eee;
	-khtml-transition: all .20s ease-in-out;
	-moz-border-radius: 4px;
	-moz-box-shadow: 0 0 4px #eee, inset 0 0 4px #eee;
	-moz-transition: all .20s ease-in-out;
	-ms-transition: all .20s ease-in-out;
	-o-border-radius: 4px;
	-o-box-shadow: 0 0 4px #eee, inset 0 0 4px #eee;
	-o-transition: all .20s ease-in-out;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0 0 4px #eee, inset 0 0 4px #eee;
	-webkit-transition: all .20s ease-in-out;
	filter:progid:DXImageTransform.Microsoft.Shadow (color=#eee, Direction=135, Strength=5);
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow (color=#eee, Direction=135, Strength=5)";
	behavior: url(border-radius.htc);
}
input[type="range"]
{
	width: 100%;
}
input[type="text"], input[type="text"]:hover, input[type="text"]:focus, input[type="text"]:disabled,
textarea, textarea:hover, textarea:focus, textarea:disabled
{
	outline: none;
	transition: all .20s ease-in-out;
	-khtml-transition: all .20s ease-in-out;
	-moz-transition: all .20s ease-in-out;
	-ms-transition: all .20s ease-in-out;
	-o-transition: all .20s ease-in-out;
	-webkit-transition: all .20s ease-in-out;
}
input[type="text"]:hover, textarea:hover
{
	box-shadow: 0 0 4px #fefefe, inset 0 0 4px #fefefe;
	background-color: #fefefe;
	border: 1px solid #c4c4c4;
	-khtml-box-shadow: 0 0 4px #fefefe, inset 0 0 4px #fefefe;
	-moz-box-shadow: 0 0 4px #fefefe, inset 0 0 4px #fefefe;
	-o-box-shadow: 0 0 4px #fefefe, inset 0 0 4px #fefefe;
	-webkit-box-shadow: 0 0 4px #fefefe, inset 0 0 4px #fefefe;
	filter:progid:DXImageTransform.Microsoft.Shadow (color=#fefefe, Direction=135, Strength=5);
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow (color=#fefefe, Direction=135, Strength=5)";
}
input[type="text"]:focus.tweet, textarea:focus.tweet
{
	box-shadow: 0 0 4px inset 0 0 4px rgba(81, 203, 238, 0.75), inset 0 0 4px rgba(81, 203, 238, 0.75);
	background-color: #fefefe;
	border: 1px solid #c4c4c4;
	-khtml-box-shadow: 0 0 4px rgba(81, 203, 238, 0.75), inset 0 0 4px rgba(81, 203, 238, 0.75);
	-moz-box-shadow: 0 0 4px rgba(81, 203, 238, 0.75), inset 0 0 4px rgba(81, 203, 238, 0.75);
	-o-box-shadow: 0 0 4px rgba(81, 203, 238, 0.75), inset 0 0 4px rgba(81, 203, 238, 0.75);
	-webkit-box-shadow: 0 0 4px rgba(81, 203, 238, 0.75), inset 0 0 4px rgba(81, 203, 238, 0.75);
	filter:progid:DXImageTransform.Microsoft.Shadow (color=rgba(81, 203, 238, 0.75), Direction=135, Strength=5);
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow (color=rgba(81, 203, 238, 0.75), Direction=135, Strength=5)";
}
input[type="text"]:focus.dm, textarea:focus.dm
{
	box-shadow: 0 0 4px orange, inset 0 0 4px orange;
	background-color: #fefefe;
	border: 1px solid #c4c4c4;
	-khtml-box-shadow: 0 0 4px orange, inset 0 0 4px orange;
	-moz-box-shadow: 0 0 4px orange, inset 0 0 4px orange;
	-o-box-shadow: 0 0 4px orange, inset 0 0 4px orange;
	-webkit-box-shadow: 0 0 4px orange, inset 0 0 4px orange;
	filter:progid:DXImageTransform.Microsoft.Shadow (color=orange, Direction=135, Strength=5);
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow (color=orange, Direction=135, Strength=5)";
}
input[type="text"]:disabled, textarea:disabled
{
	box-shadow: 0 0 4px rgba(255,0,0,0.25), inset 0 0 4px rgba(255,0,0,0.25);
	background-color: rgba(255,0,0,0.05);
	border: 1px solid rgba(255,0,0,0.25);
	-khtml-box-shadow: 0 0 4px rgba(255,0,0,0.25), inset 0 0 4px rgba(255,0,0,0.25);
	-moz-box-shadow: 0 0 4px rgba(255,0,0,0.25), inset 0 0 4px rgba(255,0,0,0.25);
	-o-box-shadow: 0 0 4px rgba(255,0,0,0.25), inset 0 0 4px rgba(255,0,0,0.25);
	-webkit-box-shadow: 0 0 4px rgba(255,0,0,0.25), inset 0 0 4px rgba(255,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.Shadow (color=red, Direction=135, Strength=5);
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow (color=red, Direction=135, Strength=5)";
}

/*
 * dialog window
 */
#control_overlay
{
	background-color:#000;
	z-index: 1000;
}
.window
{
	background-color: #f1f1f1;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 10px;
	width: 600px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior: url(border-radius.htc);
	z-index: 1000;
}
.window .window-close
{
	float: right;
	clear: right;
	margin-right: 10px;
}
.window .window_contents
{
	margin-top: 10px;
	width: 100%;
	height: 100%;
}

/*
 * drag n drop / button image upload
 */
#image
{
	background: #f6f6f6;
	border-radius: 2px;
	box-shadow: 0 0 2px 2px #f6f6f6;
	border: 2px dashed #DDD;
	color: #456;
	cursor: crosshair;
	padding-left: 5px;
	padding-right: 5px;
	transition: all .20s ease-in-out;
	-khtml-border-radius: 2px;
	-khtml-box-shadow: 0 0 2px 2px #F6F6F6;
	-khtml-transition: all .20s ease-in-out;
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 0 2px 2px #F6F6F6;
	-moz-transition: all .20s ease-in-out;
	-ms-transition: all .20s ease-in-out;
	-o-border-radius: 2px;
	-o-box-shadow: 0 0 2px 2px #F6F6F6;
	-o-transition: all .20s ease-in-out;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 0 2px 2px #F6F6F6;
	-webkit-transition: all .20s ease-in-out;
	behavior: url(border-radius.htc);
}

/*
 * navigation related stuff
 */
#sub-nav
{
	padding: 12px 0;
	font-weight: bold;
}
#sub-nav a.navigation
{
	border-radius: 2px;
	box-shadow: 0 0 2px 2px #F6F6F6;
	background-color: #F6F6F6;
	text-decoration: none;
	padding: 10px;
	transition: all .20s ease-in-out;
	-khtml-border-radius: 2px;
	-khtml-box-shadow: 0 0 2px 2px #F6F6F6;
	-khtml-transition: all .20s ease-in-out;
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 0 2px 2px #F6F6F6;
	-moz-transition: all .20s ease-in-out;
	-ms-transition: all .20s ease-in-out;
	-o-border-radius: 2px;
	-o-box-shadow: 0 0 2px 2px #F6F6F6;
	/*-o-transition: all .20s ease-in-out;*/
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 0 2px 2px #F6F6F6;
	-webkit-transition: all .20s ease-in-out;
	behavior: url(border-radius.htc);
}
#sub-nav li.navigation
{
	margin: 0 1em;
	text-decoration: none;
}
#sub-nav li.navigation a.active
{
	box-shadow: 0 0 2px 2px #FFF;
	background-color: #FFF;
	color: #039;
	text-decoration: underline;
	-khtml-box-shadow: 0 0 2px 2px #FFF;
	-moz-box-shadow: 0 0 2px 2px #FFF;
	-o-box-shadow: 0 0 2px 2px #FFF;
	-webkit-box-shadow: 0 0 2px 2px #FFF;
}
#sub-av li.navigation a
{
	background-color: #F6F6F6;
	color: #456;
	/*transition: all .20s ease-in-out;*/
	-khtml-transition: all .20s ease-in-out;
	-moz-transition: all .20s ease-in-out;
	-ms-transition: all .20s ease-in-out;
	/*-o-transition: all .20s ease-in-out;*/
	-webkit-transition: all .20s ease-in-out;
}
#sub-nav li.navigation a:hover
{
	box-shadow: 0 0 2px 2px #FFF;
	background-color: #FFF;
	color: #039;
	-khtml-box-shadow: 0 0 2px 2px #FFF;
	-moz-box-shadow: 0 0 2px 2px #FFF;
	-o-box-shadow: 0 0 2px 2px #FFF;
	-webkit-box-shadow: 0 0 2px 2px #FFF;
}
html>body #nav ul.licious
{
	position: absolute;	
	top: 18px;
}
ul.tabbed li.navigation
{
	margin-top: 0;
}
ul.tabbed .navigation
{
	display: inline;
	margin: 0;
}
ul.tabbed li.navigation
{
	float: left;
}

/*
 * growler clone theming
 */
div.growls
{
	z-index: 2000;
	position: fixed;
	font-size: 0.8em;
}
div.growls.bottom-right
{
	bottom: 10px;
	right: 10px;
}
div.growls div.growl
{
	opacity: 0;
}
div.growls div.growl div.title
{
	font-weight: bold;
	font-size: small;
}
div.growls div.growl div.message
{
	font-weight: normal;
	font-size: small;
}
div.growls div.black
{
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: 0 0 5px 5px rgba(15,15,15,0.1);
	cursor: pointer;
	margin: 0 auto;
	-khtml-border-radius: 4px;
	-khtml-box-shadow: 0 0 5px 5px rgba(15,15,15,0.1);
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 5px 5px rgba(15,15,15,0.1);
	-o-border-radius: 5px;
	-o-box-shadow: 0 0 5px 5px rgba(15,15,15,0.1);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px 5px rgba(15,15,15,0.1);
	behavior: url(border-radius.htc);
}
div.growls div.medium
{
	border-radius: 10px;
	width: 300px;
	min-height: 50px;
	padding: 10px;
	background: #F6F6F6;
	margin: 20px 10px 10px 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url(border-radius.htc);
}

/*
 * progress bar
 */
#progress-bar
{
	width: 102px;
	height: 7px;
	border: 1px solid #ccc;
	padding: 0;
	margin-top: 7px;
	position: relative;
	background-image: url("/img/progress-bar.png");
	background-repeat: repeat-x;
} 
#progress-bar div
{
	background-color: #fff;
}

/*
 * click menu stuff
 */
#control_contextmenu, #control_contextmenu_fadeout
{
	background-color: white;
	border-radius: 4px;
	box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	border: 1px solid #DDD;
	left: 0;
	top: 0;
	margin-top: -5px;
	font-size: 0.87em;
	position: absolute;
	z-index: 100;
	transition: all .20s ease-in-out;
	-khtml-transition: all .20s ease-in-out;
	-khtml-border-radius: 4px;
	-khtml-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	-moz-transition: all .20s ease-in-out;
	-moz-border-radius: 4px;
	-moz-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	-ms-transition: all .20s ease-in-out;
	-o-transition: all .20s ease-in-out;
	-o-border-radius: 4px;
	-o-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	-webkit-transition: all .20s ease-in-out;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 2px 2px 5px rgba(15,15,15,0.1);
	behavior: url(border-radius.htc);
}
#control_contextmenu ul li
{
	border-radius: 4px;
	cursor: pointer;
	display: block;
	outline: none;
	padding: 6px;
	text-align: center;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(border-radius.htc);
}
#control_contextmenu ul li:hover
{
	background-color: #eee;
}
#control_contextmenu ul li:hover.disabled
{
	background-color: rgba(255,0,0,0.1);
	cursor: default;
}
#control_contextmenu .separator
{
	background-color: #ddd;
	display: block;
	height: 1px;
	padding: 0;
	overflow: hidden;
}

/*
 * scrollbar stuff
 */
.scrollbar-track
{
	background-color: transparent;
	cursor: move;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 10px;
} 
.scrollbar-handle
{
	border-radius: 4px;
	cursor: move;
	background-color: #5F5F5F;
	width: 10px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(border-radius.htc);
} 
.scrollbar-content
{
	position: relative;
	overflow: hidden;
	width: 100%;
}

/*
 * other
 */
#container
{
	position: fixed;
	display: block;
	bottom: 0;
	top: 100;
	left: 0;
	right: 0;
	z-index: -1;
}
.login
{
  border-radius: 4px;
  box-shadow: 0 0 5px 5px rgba(15,15,15,0.1);
  transition-duration: 0.35s;
  transition-property: all, transform;
  -khtml-border-radius: 4px;
  -khtml-box-shadow: 0 0 5px 5px rgba(15,15,15,0.1);
  -khtml-transition-duration: 0.35s;
  -khtml-transition-property: all, -khtml-transform;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 5px 5px rgba(15,15,15,0.1);
  -moz-transition-duration: 0.35s;
  -moz-transition-property: all, -moz-transform;
  -ms-transition-duration: 0.35s;
  -ms-transition-property: all, -moz-transform;
  -o-border-radius: 5px;
  -o-box-shadow: 0 0 5px 5px rgba(15,15,15,0.1);
  -o-transition-duration: 0.35s;
  -o-transition-property: all, -moz-transform;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 5px rgba(15,15,15,0.1);
  -webkit-transition-duration: 0.35s;
  -webkit-transition-property: all, -webkit-transform;
}
.center-outer
{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}
.center-inner
{
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 17% 0%;
}
::selection
{
	background: rgba(175,175,175,0.4);
}
::-moz-selection
{
	background: rgba(175,175,175,0.4);
}

/*
 * "funny stuff"
 */

/* global body stuff */
body
{
	background: #f6f6f6;
	color: #3a3a4a;
	font: normal 75% "Helvetica Neue", "Open Sans", sans-serif;
	font-smoothing: subpixel-antialiased;
	margin: 0 auto;
	position: relative;
	user-select: none;
	width: 100%;
	-khtml-font-smoothing: subpixel-antialiased;
	-khtml-user-select: none;
	-moz-font-smoothing: subpixel-antialiased;
	-moz-user-select: none;
	-ms-font-smoothing: subpixel-antialiased;
	-ms-user-select: none;
	-o-font-smoothing: subpixel-antialiased;
	-o-user-select: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-user-select: none;
}

/* from here on out we are doing to set stuff specifically by the users viewport width */
@media only screen and (max-width: 480px)
{
	body
	{
		padding-left: 18px;
		padding-right: 18px;
		width: 264px;
	}
	.comment-arrow 	
	{
		display: none;
	}
	.comment-content-wrapper
	{
		float: right;
		width: 165px;
	}
	.comment-profile-wrapper
	{
		text-align: center;
		width: 55px;
	}
	.normal, body
	{
		font: normal 67% "Helvetica Neue", "Open Sans", sans-serif;
	}
	.klout
	{
		display: none;
	}
	.place
	{
		display: none;
	}
	.rtd
	{
		display: none;
	}
	.via
	{
		display: none;
	}
	#clear
	{
		display: none;
	}
	#image
	{
		display: none;
	}
	#pause
	{
		display: none;
	}
	#paused-count
	{
		display: none;
	}
}
@media only screen and (min-width: 480px) and (max-width: 590px)
{
	.comment-content-wrapper
	{
		float: right;
		width: 75%;
	}
	.comment-profile-wrapper
	{
		text-align: center;
		width: 105px;
	}
	.normal, body
	{
		font: normal 68% "Helvetica Neue", "Open Sans", sans-serif;
	}
	.klout
	{
		display: none;
	}
	.via
	{
		display: none;
	}
}
@media only screen and (min-width: 590px) and (max-width: 800px)
{
	.comment-content-wrapper
	{
		float: right;
		width: 81%;
	}
	.comment-profile-wrapper
	{
		text-align: center;
		width: 105px;
	}
	.normal, body
	{
		font: normal 70% "Helvetica Neue", "Open Sans", sans-serif;
	}
}
@media only screen and (min-width: 800px) and (max-width: 1024px)
{
	.comment-body, .comment-body-mentioned, .comment-body-me
	{
		margin-right: 25px;
	}
	.comment-content-wrapper
	{
		float: right;
		width: 84%;
	}
	.comment-profile-wrapper
	{
		text-align: center;
		width: 105px;
	}
	.normal, body
	{
		font: normal 73% "Helvetica Neue", "Open Sans", sans-serif;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1152px)
{
	.comment-body, .comment-body-mentioned, .comment-body-me
	{
		margin-right: 25px;
	}
	.comment-content-wrapper
	{
		float: right;
		width: 86%;
	}
	.comment-profile-wrapper
	{
		text-align: center;
		width: 105px;
	}
	.normal, body
	{
		font: normal 76% "Helvetica Neue", "Open Sans", sans-serif;
	}
}
@media only screen and (min-width: 1152px) and (max-width: 1350px)
{
	.comment-body, .comment-body-mentioned, .comment-body-me
	{
		margin-right: 25px;
	}
	.comment-content-wrapper
	{
		float: right;
		width: 89%;
	}
	.comment-profile-wrapper
	{
		text-align: center;
		width: 105px;
	}
	.normal, body
	{
		font: normal 79% "Helvetica Neue", "Open Sans", sans-serif;
	}
}
@media only screen and (min-width: 1350px) and (max-width: 1600px)
{
	.comment-body, .comment-body-mentioned, .comment-body-me
	{
		margin-right: 25px;
	}
	.comment-content-wrapper
	{
		float: right;
		width: 91%;
	}
	.comment-profile-wrapper
	{
		text-align: center;
		width: 105px;
	}
	.normal, body
	{
		font: normal 81% "Helvetica Neue", "Open Sans", sans-serif;
	}
}
@media only screen and (min-width: 1600px)
{
	.comment-body, .comment-body-mentioned, .comment-body-me
	{
		margin-right: 25px;
	}
	.comment-content-wrapper
	{
		float: right;
		width: 93%;
	}
	.comment-profile-wrapper
	{
		text-align: center;
		width: 105px;
	}
	.normal, body
	{
		font: normal 86% "Helvetica Neue", "Open Sans", sans-serif;
	}
}
